@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 32 34 43;

    --card: 255 255 255;
    --card-foreground: 32 34 43;

    --popover: 255 255 255;
    --popover-foreground: 32 34 43;

    --primary: 32 34 43;
    --primary-foreground: 255 255 255;

    --secondary: 240 239 239;
    --secondary-foreground: 32 34 43;

    --muted: 240 239 239;
    --muted-foreground: 90 90 100;

    --accent: 240 239 239;
    --accent-foreground: 32 34 43;

    --destructive: 221 17 17;
    --destructive-foreground: 248 250 252;

    --border: 240 239 239;
    --input: 240 239 239;
    --ring: 240 239 239;

    --radius: 0.5rem;
  }

  .dark {
    --background: 32 34 43;
    --foreground: 255 255 255;

    --card: 32 34 43;
    --card-foreground: 248 250 252;

    --popover: 32 34 43;
    --popover-foreground: 248 250 252;

    --primary: 240 239 239;
    --primary-foreground: 32 34 43;

    --secondary: 0 0 0;
    --secondary-foreground: 240 239 239;

    --muted: 0 0 0;
    --muted-foreground: 180 180 190;

    --accent: 0 0 0;
    --accent-foreground: 240 239 239;

    --destructive: 255 34 68;
    --destructive-foreground: 248 250 252;

    --border: 0 0 0;
    --input: 0 0 0;
    --ring: 0 0 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.money:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💶</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
